<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jeff Tougas" />

   <!-- Typekit -->
   <!--<script type="text/javascript" src="http://use.typekit.com/jpd0pfm.js"></script>-->
   <!--<script type="text/javascript">try{Typekit.load();}catch(e){}</script>-->

   <link href="/jesl/jesl.min.css" rel="stylesheet" media="screen" type="text/css">
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"> </script>
   <script src="/jesl/jesl.min.js"> </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">locost.jefftougas.com</a>
    <a class="extra" href="/">home</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
  </div>
</div>

</body>
</html>
